main {
  max-width: 100%;
  margin: 0 0;
  position: relative;
  color: var(--text-color-white);
}
img {
  width: 100%;
}

.home picture {
  width: 100uw;
  height: 100uw;
}

.hero-content {
  position: absolute;
  text-align: center;
  min-width: 80%;
  top: 20%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  background-color: hsla(90, 0%, 4%, 0.6);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.dynamic-text::after {
  content: "|";
  color: var(--text-color-primary);
  animation: blink 0.8s infinite;
}

.dynamic-text {
  color: white;
  font-size: 2em;
  font-weight: bolder;
}

button {
  color: var(--text-color-primary);
  background: none;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 2px var(--text-color-primary);
  transition: all 0.3s ease-in-out;
}

button:hover {
  box-shadow: 5px 5px 2px white;
  color: white;
  transform: translateY(-3px);
}
