@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #4a5f3b;
    --secondary-color: #3b5c5f;
    --accent-color-1: #4f3b5f;
    --accent-color-2: #5f3d3b;
    --text-light: #fff;
    --text-dark: black;
    --gap: 8px;
}
* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--text-light);
    min-height: 100vh;
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
}

header {
    background-color: var(--primary-color);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
header ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding: 5px;
}

header li {
    padding: 5px 10px;
    background-color: var(--text-light);
    border-radius: 5px;
}

footer {
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: left;
    gap: 20px;
    background-color: var(--primary-color);
    flex-wrap: wrap;
}
footer p {
    margin: 0;
    font-weight: 600;
}

footer img {
    width: 50px;
    border-radius: 50%;
}

.socials {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-self: center;
}

.brand {
    display: flex;
    text-align: left;
    gap: 10px;
}
.brand img {
    border-radius: 10px;
}

nav {
    align-self: last baseline;
    display: none;
}

.toggleMenu {
    display: none;
}

@media (min-width: 600px) {
}

@media (min-width: 900px) {
    nav {
        display: flex;
    }
}
