body {
    min-height: 100vh;
}

section {
    min-height: 75vh;
    background-color: var(--color-grey);
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    color: var(--text-dark);
    padding: 1rem;
    max-width: 1000px;
    margin: auto;
}

table {
    max-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgb(0 0 0 / 0.1);
}

td {
    padding: 0.5rem;
}
table {
    margin-top: 2rem;
}
