@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #4a5f3b;
    --secondary-color: #3b5c5f;
    --accent-color-1: #4f3b5f;
    --accent-color-2: #5f3d3b;
    --text-light: #fff;
    --text-dark: black;
}
body {
    margin: 0;
    font-family: 'Merriweather', serif;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, two-row main, and footer */
    grid-template-columns: 1fr 1fr; /* Two columns for the main section */
    grid-template-areas:
        'header header'
        'main main'
        'footer footer';
    gap: 0.5em;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding-top: 1rem;
    text-align: center;
    grid-area: header;
}

nav ul {
    list-style: none;
    padding: 10px 100px 10px 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--accent-color-1);
    margin-top: 50px;
}

nav li {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    padding: 10px;
}
nav li a {
    color: var(--text-light);
    text-decoration: none;
}
nav li:hover {
    background-color: var(--text-light);
}
nav li:hover a {
    background-color: var(--text-light);
    color: var(--accent-color-2);
}
nav li a:hover {
    color: var(--accent-color-2);
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Course Work & Country above, Course List below */
    grid-template-areas:
        'course-work country'
        'course-list course-list';
    gap: 1em;
    padding: 1rem;
}

section.course-work {
    grid-area: course-work;
    color: var(--text-dark);
    border: 2px solid var(--accent-color-1);
    border-radius: 10px;
}

section.country {
    grid-area: country;
    color: var(--text-dark);
    border: 2px solid var(--accent-color-1);
    border-radius: 10px;
}

section.course-list {
    grid-area: course-list;
    color: var(--text-dark);
    border: 2px solid var(--accent-color-1);
    border-radius: 10px;
}
section p {
    padding: 1rem;
}

section h2 {
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px;
    color: var(--text-light);
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    grid-area: footer;
    color: var(--text-light);
}

span {
    color: yellow;
}

#lastModified {
    font-size: 0.7em;
}

.currentYear span {
    color: var(--text-light);
    text-decoration: none;
}

.toggleNav {
    display: none;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
    }

    #menu {
        display: block;
        color: var(--text-light);
        cursor: pointer;
    }

    #menu::before {
        content: 'Menu';
    }
    #navigation {
        display: block;
        text-align: left;
        padding: 0;
        padding-bottom: 1rem;
    }
}
